body { 
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
}

.personalCv__contactSection {
    display: inline-block;
    flex-direction: column;
    width: 300px;
    margin: 0px;
    border: 0px solid black;
    border-radius: 0px;
    background-color: rgb(16, 93, 182);
}

#personalCvSection {
    border: 2px solid black;
    margin: 10px;
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    justify-content: center;
    overflow: hidden;
}

#personalCvSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personalCv__contactDetails {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin: 10px;
    color: black;
    font-size: 25px;
}

.personalCv__educationProfile {
    display: block;
    margin: 10px;
    color: black;
}

.personal__education {
    display: block;
    color: white;
}

#educationProfileContent {
    display: flex;
    margin: 10px;
    max-width: 200px;
    overflow-wrap:break-word;
    flex-direction: column;
}

.personalCv__skillItemTitle {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin: 10px;
    color: white;
    font-size: 25px;
}

#itSkillContent {
    display: flex;
    margin: 10px;
    max-width: 200px;
    overflow-wrap:break-word;
    flex-direction: column;
    color: white;
}

#englishSkillContent {
    display: flex;
    margin: 10px;
    max-width: 200px;
    overflow-wrap:break-word;
    flex-direction: column;
    color: white;
}

.mainContentCv {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    border: 0px solid black;
    border-radius: 0px;
}

.mainContentCv__nameAndJobs {
    display: block;
    border: 0px solid black;
    padding-top: 45px;
    padding-left: 10px;
}

.mainContentCv__nameAndJobsFullName {
    display: block;
    border: 0px solid black;
    font-size: 50px;
}

.mainContentCv__nameAndJobsStatus {
    display: block;
    border: 0px solid black;
    font-size: 35px;
}

.mainContentCv__careerGoals {
    display: block;
    border: 0px solid black;
    padding-left: 0px;
    margin-top: 30px;
}

.mainContentCv__careerGoalsTitle {
    display: block;
    border-bottom: 3px solid black;
    margin: 10px;
    font-size: 25px;
}

#careerGoalsContent {
    display: block;
    padding: 10px;
    font-size: 18px;
}

.mainContentCv__experience {
    display: block;
    border: 0px solid black;
    padding-left: 0px;
}

.mainContentCv__experienceTitle {
    display: block;
    border-bottom: 3px solid black;
    margin: 10px;
    font-size: 25px;
}

#experienceContent {
    display: block;
    padding: 10px;
    font-size: 18px;
}

.mainContentCv__otherSkills {
    display: block;
    border: 0px solid black;
    padding: 0px;
    
}

.mainContentCv__otherSkillsTitle {
    display: block;
    border-bottom: 3px solid black;
    margin: 10px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
}

#otherSkillsContent {
    display: block;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}
