body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    min-height: 100vh;

}

.container{
    border: 2px dashed red;
    padding: 20px 100px;
    background-color: #ffffff;        
    border-radius: 10px;       
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    text-align: center;        
    width: 360px;             
}

.form-group {
  margin-bottom: 20px; 
  text-align: left;    
}

.formLogin input, .formPassword input{
    background-color: lightcoral;
    border-radius: 50px;
    border: 2px dashed red;
    margin: 5px;
}

.formPassword{
    margin-left: 40px
}

button {
  background-color: #d93025; 
  color: white;              
  border: none;             
  padding: 5px 10px;      
  font-size: 15px;           
  font-weight: bold;        
  border-radius: 20px;      
  cursor: pointer;           
  transition: background-color 0.3s ease; 
  margin-top: 10px; 
}

button:hover {
  background-color: #b7281e; 
}

/* .form-group label {
  display: block;     
  color: #555555;     
  font-size: 14px;     
  margin-bottom: 8px; 
} */

/* .form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;             
  padding: 12px 15px;    
  border: 1px solid #ddd;  
  border-radius: 25px;    
  box-sizing: border-box; 
  font-size: 16px;         
  background-color: #f7f7f7;
} 
 

.login-button {
  background-color: #d93025; 
  color: white;             
  border: none;            
  padding: 12px 20px;      
  font-size: 16px;           
  font-weight: bold;       
  border-radius: 25px;      
  cursor: pointer;           
  width: 100%;              
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #b7281e; 
}
*/